    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html,body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #0d0d0d;
      color: #fff;
      line-height: 1.6;
    }

    
    .First {
      background: url(./background.jpg);
      height: 200px;
      width: 87%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #f8f8f8;
      border-radius: 10px;
      margin: 0 auto;
    }

    .First h1 {
      font-family: Playfair Display, sans-serif;
      font-size: 60px;
      font-weight: bold;
      color: #fef0ba;
    }

    .First p {
      font-size: 20px;
      margin-top: 0;
      color: #f1e4b3;
    }

    .story-section{
      width: 100%;
      display: flex;
      align-items: centre;
      flex-direction: row;
    }

    #story-text {
      width: 650px;
      font-size: 30px;
      margin-bottom: 30px;
      margin-left: 200px;
      margin-top: 40px;
    }
   
    #story-text h2 {
      font-family: Georgia, 'Times New Roman', serif;
      color: #f1e4b3;
      margin-bottom: 20px;
      font-size: 30px;
    }

    #story-text p {
      color: #f1e4b3;
      font-size: 20px;
      max-width: 500px;
    }

    .story-text {
      flex: 1;
      min-width: 280px;
      margin-right: 30px;
      border: radius 15px;
    }

    #story-img img {
      width: 100%;
      height: 400px;
      width: 90%;
      border-radius: 10px;
      padding-right: 40px;
      margin-top: 7px;
      

    }

    
    .Philosophy {
      width: 100%;
      height: 350px;
      background-color: #fff;
      color: #000;
      text-align: center;
      padding: 40px;
    }

    .Philosophy h2 {
      font-family: Georgia,'Times New Roman',serif;
      font-size: 30px;
      margin-top: -10px;
    }

    .philosophy-icons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      gap: 80px;
      margin-bottom: 30px;
      margin: 20px;
    }

    .philosophy-item {
      text-align: center;
      width: 150px;
    }

    .philosophy-item img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 4px solid #e5b559;
      margin-bottom: 10px;
    }

    .philosophy-item h3 {
      font-family: Georgia, 'Times New Roman', serif;
      font-size: 18px;
      color: #444;
      margin-top: -12px;
    }

    .philosophy p {
      font-size: 20px;
      color: #333;
      max-width: 700px;
      margin: 0 auto;
    }

    .ambience {
      background-color: #000;
      color: #fff;
      padding: 60px 10%;
    }

    .ambience h2 {
      font-family: Georgia, 'Times New Roman', serif;
      color: #e5b559;
      margin-bottom: 40px;
      text-align: center;
      font-size: 30px;
    }

    .ambience-container{
      display: flex;
      gap: 40px;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
    }

    .ambience-gallery {
      display: flex;
      gap: 20px;
    }

    .ambience-item {
      text-align: center;
    }

    .ambience-item img {
      width: 250px;
      height: 150px;
      border-radius: 10px;
      object-fit: cover;
    }

    .ambience-item p {
      text-align: center;
      color: #e5b559;
      margin-top: 5px;
    }

    .chef {
      display: flex;
      align-items: flex-start;
      position: relative;
      top: -40px;
      gap: 20px;
    }

    .chef img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 3px solid #e5b559;
      object-fit: cover; 
      margin-bottom: 20px;
    }


    .chef-info h3 {
      font-family: Georgia, 'Times New Roman', serif;
      color: #e5b559;
      margin-bottom: 20px;
    }

    .chef-info p {
      line-height: 1.6;
      color: #ccc;
      font-size: 15px;
    }
    .promise {
      background-color: #111;
      text-align: center;
      padding: 50px 10%;
    }

    .promise h2 {
      color: #e5b559;
      font-family: Georgia, 'Times New Roman', serif;
      margin-bottom: 10px;
    }

    .promise p {
      color: #ccc;
      font-size: 1rem;
    }

  
