*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    background: linear-gradient(180deg, #111 0%, #222 100%);
    width: 100%;
    background-color: black;
    color:#fff;
    font-family: Poppins , sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1458253756247-1e4ed949191b?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=870);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    background-color: #111;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.5);
}

h1, h2, h4 {
    color: #d4af37;
    text-align: center;
}

h1{
    margin: 60px;
    font-size: 35px;
    margin-bottom: 10px;
}

h2{
    font-size: 35px;
    margin-bottom: 20px;
}

p{
    color: #ccc;
    text-align: center;
    font-size: 20px;
    margin-top: -5px;
}

form{
    width: 90%;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.9);
    max-width: 700px;
    margin: 60px auto;
    padding: 30px 40px;
    border-radius: 5px;
    border: 1px solid #d4af37;
    box-shadow: 0 0 25px rgba(212, 175, 55, 0.3);

}

label{
    color: white;
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #d4af37;
    background-color: #111;
    color: white;
    font-size: 15px;
}

input::placeholder {
    color: #aaa;
}

button{
    width: 100%;
    background-color: #d4af37;
    color: #000;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b58d28;
}

.below-section{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
}

.below-section div{
    width: 180px;
    margin: 10px;
}

.below-section div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.below-section h4 {
    margin-bottom: 10px;
    color: #d4af37;
    letter-spacing: 1px;
}

.below-section p {
    color: rgba(255, 255, 255, 0.89);
    font-size: 14px;
    margin: 5px 0;
}


.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.icons i {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.849);
    cursor: pointer;
    transition: 0.3s;
}

.icons i:hover {
    color: white;
}

hr{
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.849);
    margin-top: 30px 0;
}