*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0d0d0d;
  color: #fff;
  
}


.head {
  background: url(./main\ page.jpg) ;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 650px;
  position: relative;
}

.head-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head-overlay h1 {
  font-size: 80px;
  color: #f5d76e;
  letter-spacing: 2px;
  position: relative;
}
.head-overlay h1::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform:translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: #f5d76e;

}


.head-overlay h3 {
  font-size: 16px;
  margin: 10px;
  color: #f5d76e;
  text-transform: uppercase;
}

.head-overlay h2 {
  font-size: 20px;
  letter-spacing: 3px;
  color: #f5d76e;
}
.menu-section {
  padding: 60px 10%;
  text-align: center;
}

.section-title {
  font-size: 32px;
  color: #f5d76e;
  position: relative;
  display: inline-block;
}

.section-title::before,
.section-title::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 100px;
  height: 1px;
  background-color: #f5d76e;
}

.section-title::before {
  left: -100px;
}

.section-title::after {
  right: -100px;
}


.drinks {
  background-color: #000;
}

.drinks-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-image img {
  width: 350px;
  border-radius: 10px;
  margin-right: 30px;
}

.menu-content {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.menu-column {
  text-align: left;
}

.menu-column h3 {
  color: #f5d76e;
  margin-bottom: 15px;
  font-size: 20px;
}



.starters {
  background-color: #111;
}

.starters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.starter-item img {
  width: 280px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 20px;
}

.starter-menu ul {
  text-align: left;
}

.starter-menu ul li {
  margin: 10px 0;
  font-size: 16px;
}

strong {
  color: #ffd700;
}
.main-course,
.breads,
.desserts {
  background-color: #000;
}

.main-course img,
.breads img,
.desserts img {
  width: 280px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 20px;
}


.menu-section ul li {
  margin-bottom: 10px;
}

.menu-section ul {
  list-style: none;
  color: #f5d76e;
}


.desserts {
  background-color: #111;
  padding-bottom: 100px;
}


body::after {
  content: '';
  display: block;
  height: 60px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #0d0d0d);
}


.beverages {
  background-color: #000;
}

.beverages img {
  width: 280px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 20px;
}

.footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 60px 20px;
  color: #555;
}

.footer h2 {
  color: #b89b00;
  font-size: 32px;
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.footer a {
  color: #b89b00;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}
